<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title: 'Home | Cookieshop'}) %>

<!-- allows the attached Javascript to read the publicAudioUrl variable. -->
<script>
    window.publicAudioUrl = '<%= publicAudioUrl %>';
  </script>

<script src="/assets/js/show-audio-player-when-audiofile-defined.mjs" type="module" defer 
></script>


<body>
    <%- include('includes/header') %>
    <main>
        <p>
            Welcome to this Cookie shop website, which doubles as a music file uploading/playback website.
        </p>
        <p>
            We currently have <%= numberOfCookiesInStock %> cookies in stock.
        </p>
        <p>
            We have sold <%= numberOfCookiesSold %> cookies.
        </p>
        <p>
            Some routes that work as POST requests: /api/users, /api/login. But these got me stuck on finishing with jwt, so I replaced their functionality with the simpler /add-user and /login
        </p>
        <p>
            Some routes that work as GET requests: /news, /news/new, cookies/:slug, /assets/react.html. And with the new login method with passport and mongo: /dashboard and /secret. (I was not able to get a token-attached request, with jwt, to work in the UI, outside of something like Postman. Got lost in the tutorial for that one, which used React instead of vanilla javascript with EJS.)
        </p>
    <br />

    
    <form action="/login" method="POST">
        <h3>Admin login</h3>
        <input type="text" name="username" placeholder="username" /><br />
        <input type="password" name="password" placeholder="password" /><br />
        <button>Login</button>
    </form>
    <br />

    <form action ="/add-user" method="POST">
        <h3>Create new user</h3>
        <input type="text" name="username" placeholder="username" /><br/>
        <input type="password" name="password" placeholder="password" /> <br/>
        <button>Create</button>
    </form>

    
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <h3> Upload audio to local storage: </h3>
        <input type="file" name="file" placeholder="File to upload" />
        <button>Upload</button>
    </form>

    
    <form 
        action="/upload2" 
        method="POST" 
        enctype="multipart/form-data"
    >
        <h3> Upload audio to Google Cloud:</h3>
        <input 
            type="file" 
            name="audiofile.mp3" 
            accept=".mp3" 
            placeholder="Audio file to upload" 
        />
        <button>Upload</button>
    </form>

    <div id="audio-player">
    <h3>Play the audio you uploaded to Google Cloud:</h3>
    <audio controls src="<%= publicAudioUrl %>" type="audio">
    </audio>
    </div>

    </main>

    <%- include('includes/footer') %>

</body>

</html>