<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title: 'Home | Cookieshop'}) %>

<body>
    <%- include('includes/header') %>

    <main>
        <p>
            Welcome to the Cookie shop.
        </p>

        <p>
            We currently have <%= numberOfCookiesInStock %> cookies in stock.
        </p>
        <p>
            We have sold <%= numberOfCookiesSold %> cookies.
        </p>
    </main>

    <%- include('includes/footer') %>
    
</body>

</html>