<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title: 'Home | Cookieshop'}) %>

<body>
    <%- include('includes/header') %>

    <main>
        <p>
            Some routes that work as POST requests: /api/users, /api/login
        </p>
        <p>
            Some routes that work as GET requests: /news, /news/new, cookies/:slug, /assets/react.html. And with the right token attached to the request: /secret. (But I am still working on getting that token-attached request to work in the UI, outside of something like Postman.)
        </p>
        <p>
            Welcome to the Cookie shop.
        </p>

        <p>
            We currently have <%= numberOfCookiesInStock %> cookies in stock.
        </p>
        <p>
            We have sold <%= numberOfCookiesSold %> cookies.
        </p>
    

    <br />
    <p>Login form:</p>
    <form action="/api/login" method="POST">
        <input type="text" name="username" placeholder="username" /><br />
        <input type="test" name="password" placeholder="password" /><br />
        <button>Send</button>
    </form>

    <br />


    <p> A working upload form, for local storage for now (still need to setup the online database version): </p>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <!-- <input name="name" type="text" placeholder="File name" /> -->
        <input type="file" name="file" placeholder="File to upload" />
        <input type="submit">
    </form>

    <p> Upload audio to Google Cloud Storage:</p>
    <form action="/upload2" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" placeholder="Audio file to upload" />
        <input type="submit">
    </form>

    <p>Play the audio you uploaded to Google Cloud Storage:</p>
    <audio controller>
        <source src="https://storage.googleapis.com/music-self-recording-file-uploads/audiofile.mp3" type="audio/mp3">
    </audio>

    </main>

    <%- include('includes/footer') %>

</body>

</html>