<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title: 'Home | Cookieshop'}) %>

<body>
    <%- include('includes/header') %>

    <main>
        <p>
            Welcome to this Cookie shop website, which doubles as a music file uploading/playback website.
        </p>

        <p>
            We currently have <%= numberOfCookiesInStock %> cookies in stock.
        </p>

        <p>
            We have sold <%= numberOfCookiesSold %> cookies.
        </p>

        <p>
            Some routes that work as POST requests: /api/users, /api/login. But these got me stuck on finishing with jwt, so I replaced their functionality with the simpler /add-user and /login
        </p>
        <p>
            Some routes that work as GET requests: /news, /news/new, cookies/:slug, /assets/react.html. And with the new login method with passport and mongo: /dashboard and /secret. (I was not able to get a token-attached request, with jwt, to work in the UI, outside of something like Postman. Got lost in the tutorial for that one, which used React instead of vanilla javascript with EJS.)
        </p>
    

    <br />

    <h3>Admin login form:</h3>
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="username" /><br />
        <input type="text" name="password" placeholder="password" /><br />
        <button>Send</button>
    </form>

    <br />

    <h3>New user form:</h3>
    <form action ="/add-user" method="POST">
        <input type="text" name="username" placeholder="username" /><br />
        <input type="text" name="password" placeholder="password" /> <br />
        <button>Send</button>
    </form>

    <h3> Upload an audio file to local storage: </h3>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" placeholder="File to upload" />
        <input type="submit">
    </form>

    <h3> Upload audio to Google Cloud Storage:</h3>
        <form 
            action="/upload2" 
            method="POST" 
            enctype="multipart/form-data"
        >
            <input 
                type="file" 
                name="audiofile.mp3" 
                accept=".mp3" 
                placeholder="Audio file to upload" 
            />
            <input type="submit">
        </form>

    <h3>Play the audio you uploaded to Google Cloud Storage:</h3>
    <audio controls src="<%= fileToPlay.metadata.mediaLink %>" type="audio">
    </audio>

    </main>

    <%- include('includes/footer') %>

</body>

</html>