<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title: 'Home | Cookieshop'}) %>

<body>
    <%- include('includes/header') %>

    <main>
        <p>
            Welcome to the Cookie shop.
        </p>

        <p>
            We currently have <%= numberOfCookiesInStock %> cookies in stock.
        </p>
        <p>
            We have sold <%= numberOfCookiesSold %> cookies.
        </p>
    </main>

    <br />
    <p>Login form:</p>
    <form action="/api/login" method="POST">
        <input type="text" name="username" placeholder="username" /><br />
        <input type="test" name="password" placeholder="password" /><br />
        <button>Send</button>
    </form>

    <%- include('includes/footer') %>
    
</body>

</html>