<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title: 'Home | CD Shop'}) %>

<!-- allow attached Javascript to read publicAudioUrl variable: -->
<script>
    window.publicAudioUrl = '<%= publicAudioUrl %>';
</script>

<script src="/assets/js/show-audio-player-when-audiofile-defined.mjs" type="module" defer 
></script>

<body>
    <%- include('includes/header') %>
    <main>
        <p>
            Welcome to this CD shop website, which doubles as a music file uploading/playback website.
        </p>
        <p>
            We currently have <%= numberOfCookiesInStock %> CDs in stock.
        </p>
        <p>
            We have sold <%= numberOfCookiesSold %> CDs.
        </p>
        
        <% if (req.isAuthenticated()) { %>
            <br>
            <h3>Admin-only information:</h3>
                <p>
                    You can try this unadvertised GET request: /assets/react.html. 
                </p>    
                <p>
                    These routes work as POST requests (e.g. with Postman), using a jwt-based login system which is a work-in-progress, but they are not yet accessible in the UI: /api/users, /api/login. (Instead of that jwt system, a non-jwt system currently handles user creation and login at these routes: /add-user and /login.)
                </p>
                <form action ="/add-user" method="POST">
                    <h3>Create new admin user</h3>
                    <input type="text" name="username" placeholder="username" /><br/>
                    <input type="password" name="password" placeholder="password" /> <br/>
                    <button>Create</button>
                </form>
        <% } %>
    <br />

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <h3> Upload audio to local storage: </h3>
        <input type="file" name="file" placeholder="File to upload"/>
        <button>Upload</button>
    </form>
    
    <form action="/upload2" method="POST" enctype="multipart/form-data">
        <h3> Upload audio to Google Cloud:</h3>
        <input type="file" name="audiofile.mp3" accept=".mp3" placeholder="Audio file to upload"/>
        <button>Upload</button>
    </form>

    <div id="audio-player">
        <h3>Play the audio you uploaded to Google Cloud:</h3>
        <audio controls src="<%= publicAudioUrl %>" type="audio"></audio>
    </div>

    </main>

    <%- include('includes/footer') %>

</body>

</html>