<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title: 'Home | CD Shop'}) %>

<!-- allow attached Javascript to read publicAudioUrl variable: -->
<script>
    window.publicAudioUrl = '<%= publicAudioUrl %>';
</script>
<script src="/assets/js/show-audio-player-when-audiofile-defined.mjs" type="module" defer 
></script>

<body>
    <%- include('includes/header') %>
    <main>
        <section>
            <p>
                Welcome to this CD shop website, which doubles as a music file uploading/playback website.
            </p>
            <p>
                We currently have <%= numberOfCDsInStock %> CDs in stock.
            </p>
            <p>
                We have sold <%= numberOfCDsSold %> CDs.
            </p>
            <br>
        </section>
        <% if (req.isAuthenticated()) { %>
        <section>
            <h2>Admin-only Section:</h2>
            <p>
                You can try this secret route: /assets/react.html. 
            </p>    
            <p>
                These routes work as POST requests (e.g. with Postman), using a jwt-based login system which is a work-in-progress, but they are not yet accessible in the UI: /api/users, /api/login. (Instead of that jwt system, a non-jwt system currently handles user creation and login at these routes: /add-user and /login.) Referencing the source code would be necessary, to know what values to put into these requests.
            </p>
            <form action ="/add-user" method="POST">
                <h3>Create new admin user</h3>
                <input type="text" name="username" placeholder="username" /><br/>
                <input type="password" name="password" placeholder="password" /> <br/>
                <button>Create</button>
            </form>
            <br />
        </section>
        <% } %>
        <section>
            <h2>Music practice self-recording tools</h2>
            <h4>Instructions:</h4>
            <ol>
                <li>Record an .mp3 audio sample of yourself practicing. (Using a metronome at the same time is optional.)</li>
                <li>Upload the sample in the "Upload audio to Google Cloud" form below.</li>
                <li>A response message will appear, saying 'upload succesful'. Navigate back to the home page. (In future versions of this site, I'll streamline this process.)</li>
                <li>New buttons will appear below the upload form. Press the play button to listen back to your recording.</li>
                <li>Use the speed control buttons to hear yourself slowed-down, for better analysis of your rhythmic precision.</li>
            </ol>
            <form action="/upload2" method="POST" enctype="multipart/form-data">
                <h4> Upload audio to Google Cloud:</h4>
                <input type="file" name="audiofile.mp3" accept=".mp3" placeholder="Audio file to upload"/>
                <button>Upload</button>
            </form>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <h4> Upload audio to local storage (only when locally hosting):  </h4>
                <p>(Playback of local file is not built yet)</p>
                <input type="file" name="file" placeholder="File to upload"/>
                <button>Upload</button>
            </form>
            <div id="audio-player">
                <div>
                    <h4>Play audio you uploaded to Google Cloud:</h4>
                    <audio id="myAudio" controls width="320" height="176" type="audio/mp3" controls>
                    <source src="<%= publicAudioUrl %>" alt="The audio you uploaded.">
                        Unfortunately, your browser cannot play mp3 audio.
                    </audio>
                </div>
                <div>
                    <button onclick="setFullSpeed()" type="button" class="btn btn-dark">Play at full speed</button>
                    <button onclick="setThreeQuartersSpeed()" type="button" class="btn btn-dark">Play at three quarters speed</button>
                    <button onclick="setHalfSpeed()" type="button" class="btn btn-dark">Play at half speed</button>
                    <button onclick="setQuarterSpeed()" type="button" class="btn btn-dark">Play at quarter speed</button><br>
                </div>
                <div id="playspeeddisplay">For debugging purposes:
                    <button onclick="showPlaySpeed()" type="button" class="btn btn-secondary">View current speed</button>
                </div>
            </div>
        </section>
    </main>

    <%- include('includes/footer') %>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>