<!DOCTYPE html>
<html lang="en">

<%- include('../includes/head', {title: 'Shop | Cookieshop'}) %>

<body>
  <%- include('../includes/header') %>

  <main>
    <% cookies.forEach(cookie => { %>
      <li>
        <a href="/cookies/<%= cookie.slug %>"> 
          <%= cookie.name %>: <%= readablePrice(cookie.priceInCents) %>
        </a>
        <% if(!cookie.isInStock) { %> [SOLD OUT] <% } %>
      </li>
    <% }) %>

    <p>Our current offerings:</p>
    <ul>
      <li><a href="/cookies/chocolate-chip">Chocolate Chip</a></li>
      <li><a href="/cookies/banana">Banana</a></li>
    </ul>
  </main>

  <%- include('../includes/footer') %>

</body>
</html>