<!DOCTYPE html>
<html lang="en">

<%- include('../includes/head', {title: 'Shop | CD Shop'}) %>

<body>
  <%- include('../includes/header') %>

  <main>
    <p>Admins can add a new CD at /cookies/new.</p>
    <h3>Our current offerings:</h3>
    <ul>
      <% cookies.forEach(cookie => { %>
        <li>
          <% if(cookie.isInStock) { %> 
            <a href="/cookies/<%= cookie.slug %>"><%= cookie.name %>: <%= readablePrice(cookie.priceInCents) %></a>
          <% } else { %>
            <%= cookie.name %> [SOLD OUT] 
          <% } %>
        </li>
      <% }) %>
    </ul>
  </main>

  <%- include('../includes/footer') %>

</body>
</html>