<!DOCTYPE html>
<html lang="en">

<%- include('../includes/head', {title: 'Shop | Cookieshop'}) %>

<body>
  <%- include('../includes/header') %>

  <main>
    <p>Add a new cookie at https://id2112.ey.r.appspot.com/cookies/new (I would make this link more accessibly-written in a final version of this webpage).</p>
    <p>Our current offerings:</p>
    <ul>
      <% cookies.forEach(cookie => { %>
        <li>
          <% if(cookie.isInStock) { %> 
            <a href="/cookies/<%= cookie.slug %>"><%= cookie.name %>: <%= readablePrice(cookie.priceInCents) %></a>
          <% } else { %>
            <%= cookie.name %> [SOLD OUT] 
          <% } %>
        </li>
      <% }) %>
    </ul>
  </main>

  <%- include('../includes/footer') %>

</body>
</html>