<!DOCTYPE html>
<html lang="en">
  
<%- include('../includes/head', {title: 'CD Detail | CD Shop'}) %>

<body>

  <%- include('../includes/header') %>

  <main>

    <h3> <%= cookie.name %> </h3>

    <p> Description: <%= cookie.description %> </p>

    <p> Price: <%= readablePrice(cookie.priceInCents) %> </p>

    <%- include('../includes/footer') %>

  </main>

</body>