<!DOCTYPE html>
<html lang="en">
  
<%- include('../includes/head', {title: 'CD Detail | CD Shop'}) %>

<body>

  <%- include('../includes/header') %>

  <main>

    <h3> <%= cD.name %> </h3>

    <p> Description: <%= cD.description %> </p>

    <p> Price: <%= readablePrice(cD.priceInCents) %> </p>

    <a href="/shop/<%= cD.slug %>/delete">Delete inventory entry (be careful - this cannot be undone!)</a>

    <%- include('../includes/footer') %>

  </main>

</body>