<!DOCTYPE html>
<html lang="en">

<%- include('../includes/head', {title: 'News | Cookieshop'}) %>

<body>
  <%- include('../includes/header') %>

  <main>
    <p>Our current news:</p>
    <ul>
      <% news.forEach(newsItem => { %>
        <div class="news-article">
            <strong> <%= newsItem.title %>. </strong>
            <p> Date uploaded: <%= newsItem.date %> </p>
            <p> <%= newsItem.content %>. </p>
            <br>
        </div>
      <% }) %>
    </ul>
  </main>

  <%- include('../includes/footer') %>

</body>
</html>