<!DOCTYPE html>
<html lang="en">

<%- include('../includes/head', {title: 'News | Cookieshop'}) %>

<body>
  <%- include('../includes/header') %>

  <main>
    <p>Our recent news:</p>
    <ul>
      <% news.forEach(newsItem => { %>
        <div class="news-article">
            <h3> <%= titleCase(newsItem.title) %> </h3>
            <p> <em> Date uploaded: <%= newsItem.date %> </em> </p>
            <p> <%= newsItem.content %> </p>
            <br>
        </div>
      <% }) %>
    </ul>
  </main>

  <%- include('../includes/footer') %>

</body>
</html>