<!DOCTYPE html>
<html lang="en">

<%- include('../includes/head', {title: 'News | Cookieshop'}) %>

<body>
  <%- include('../includes/header') %>

  <main>
    <p id="news-intro-sentence">Take a leisurely read through our expertly-curated recent news articles:</p>
    <ul>
      <% news.forEach(newsItem => { %>
        <article class="news-article">
          <header>
            <h3 class="news-article-title"> <%= titleCase(newsItem.title) %> </h3>
            <p> <em> Date uploaded: <%= newsItem.date %> </em> </p>
          </header>
          <p> <%= newsItem.content %> </p>
        </article>
      <% }) %>
    </ul>
  </main>

  <%- include('../includes/footer') %>

</body>
</html>